<%= stylesheet_link_tag("post")%>
<p style="color: green"><%= notice %></p>
<div id="posts" class="text-center">
<div id="posts">
  <% @posts.each do |post| %>
    <%= render post %>
  <% end %>
</div>


